.inventoryManagement {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.settingsTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.itemForm {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.inputField {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
  min-width: 200px;
  margin-bottom: 1rem;
}

.addButton {
  padding: 1rem 2rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.addButton:hover {
  background-color: #0056b3;
}

.scrollableTable {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 1rem;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f8f8f8;
  text-align: left;
}

.table td input, .table td textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.hideLabel {
  display: flex;
  align-items: center;
}

.hideLabel span {
  margin-left: 5px;
}

.qrCodeContainer {
  text-align: center;
  margin-top: 2rem;
}

.qrCodeTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.qrCode {
  display: inline-block;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.colorPicker {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.printButton {
  padding: 1rem 2rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.printButton:hover {
  background-color: #0056b3;
}

/* Category Row Styling */
.categoryRow {
  background-color: #e0e0e0;
  font-weight: bold;
  text-align: left;
  padding: 1rem;
  border: 1px solid #ddd;
  border-top: 2px solid #ccc;
}
.imagePreview {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
